h1 Hey again #{name}
p It is always a pleasure to talk to you !
div 
    h2 Since the last time some things have changed :
    p #{message}

p Keep up the good work ! 

p with regards, mail Service team