h1 Hello #{name}
p We are happy to have you as a new member with us !
div 
    h2 it would be a pleasure if you could check out :
    p #{message}

p We are looking forword to your input

p with regards, mail Service team